
.products_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
}

.add_product{
    position: fixed;
    right: 10%;
    bottom: 10%;
    font-size: 70px;
}

.width30{
    width: 30px;
}