.card{
    width: 30%;
    min-width: 300px;
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    border-radius: 20px;
    padding: 15px;
    position: relative;
}

.box {
    overflow:hidden;
    width:155px;
    height:155px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img {
    object-fit:contain;
    height: 180px;
    width: 100%;
 }

 .like_button{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 25px;
    top: 15px;
 }

 .like_img{
    height: 30px;
    width: 30px;
 }