.card{
    width: 30%;
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    border-radius: 20px;
    padding: 10px;
}

.box {
    overflow:hidden;
    width:155px;
    height:155px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img {
    object-fit:contain;
    height: 180px;
    width: 100%;
 }
