.header{
    display: flex;
    background-color: rgb(223, 207, 68);
    justify-content: center;
    align-items: center;
    gap:25px;
}

.header__content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    width: 100%;
    max-width: 1600px;
}

.icons{
    object-fit:contain;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.logo{
    height: 100px;
    min-width: 132px;
    object-fit:contain
}

.name{
    width: 100%;
}

.logo_and_name{
    width: 100%;
    display: flex;
    align-items: center;
    h1{
        font-weight: 1000;
        font-size: 40px;
    }
}

button{
    background-color: transparent ;
    border: 0;
}


.cart_counter{
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(229, 255, 0);
}

.cart_counter_text{
}

@media screen and (max-width: 900px) {
    .name{
        display: none;
    }
  }