.App {
  text-align: center;
}

.app_wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

.app_header_and_main{
  flex: auto;
  height: 100%;
  background-color: rgba(243, 242, 195, 0.685);
}